body{
    padding-left: 20%;
    margin: 0;
    font-family: 'Maitree', serif;
    background-image: linear-gradient(180deg, #fdfcfb 0%, #e2d1c3 100%);
}
main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 5em;
    width: 80%;
    margin-left: 10%;
    gap: 2em;    
}
main div.left{
    flex: 1;
}
main div.right{
    flex: 1;
}
main div img{
    width:100%;
    border-radius: 10px;
}
main div.right h2{
    font-size:4em;
}
main div.right h2.prix{
    font-size: 2em;
}
main div.right p{
    font-size: 2em;
}

/* made in France */
main div.left{
    position: relative;
}
main div.left div.france{
    position: absolute;
    bottom: 1%;
    right: 1%;
}
/* le hover du made in France */
.france{
    position: relative;
    display: inline-block;
    width: 10%;
}
.france img{
    width: 100%;
}
.france .madeblue{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.france:hover .madeblue{
    display: inline;
}

/* button d'achat */
.button{
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    padding: 1%;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 5%;
    align-items: center;
    justify-content: center;
    border: 1px solid #303030;
    border-radius: 8px;
    cursor:pointer;
}
.button:hover{
    color: #303030;
    transition:0.3s;
    transform: scale(1.01, 1.01);
    letter-spacing: 1px;
}
main div.right a.commande{
    color: #303030;
    text-decoration: none;
    width: 100%;
    text-align: center;
}
/* POP-UP button */
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 0.2s;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 1s;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: red;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }


/* footer */
footer{
    text-align: center;
    margin-top: 3%;
}









/* Menu de Nav */
.navm {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    height: 100vh;
    width: 20vw;
    left: 0px;
    top: 0px;
    flex-shrink: 1;
    border-right: solid 1px #303030;
}


.ducs {
    font-family: 'Italianno', cursive;
    font-size: clamp(100%, 750%, 750%);
    font-weight: 500;
    color: #303030;
    margin: 0;
    margin-top: 5vh;
}

.h2nav {
    font-family: 'Amiri', serif;
    color: #303030;
    font-size: 220%;
    margin: 0;
    margin-top: -15%;
    margin-left: 5%;
    font-weight: 500;
}

.lienacc {
    text-decoration: none;
}

nav img {
    width: 100%;
}

.liennav {
    display: block;
    text-decoration: none;
    color: #303030;
    font-family: 'Amiri', serif;
    font-size: 42px;
    transition: 0.5s;
}

.liennav:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

ul {
    margin: auto;
    list-style: none;
    flex: 100%;
    margin: 0;
    margin-top: 5vh;
    margin-left: -5vw;
    padding: 0;
}

.carte {
    display: block;
    margin: auto;
    width: 75%;
    min-height: 25%;
}

.liensoc {
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    justify-content: space-between;
    width: 10vw;
    margin-top: 5vh;
}

.liensoc a img {
    max-width: 50px;
}

/* Menu de Nav 720p */

@media screen and (max-width: 1366px) {
    .ducs {
        text-align: center;
        font-size: 600%;
        margin: 0;
        margin-top: 5vh;
    }

    .h2nav {
        text-align: center;
        font-size: 180%;
        margin: 0;
        margin-top: -15%;
        margin-left: 5%;
    }

    .liennav {
        font-size: 200%;
    }

    ul {
        margin: 0;
        margin-top: 7vh;
        margin-left: -3vw;
        padding: 0;
    }
}

/* Menu de Nav Tablette */

@media screen and (max-width: 1024px) {
    .ducs {
        text-align: center;
        font-size: 450%;
        margin: 0;
        margin-top: 5vh;
    }

    .h2nav {
        text-align: center;
        font-size: 130%;
        margin: 0;
        margin-top: -15%;
        margin-left: 5%;
    }

    .liennav {
        font-size: 150%;
    }

    ul {
        margin: 0;
        margin-top: 12vh;
        margin-left: -3vw;
        padding: 0;
    }
}

/* Menu de Nav mobile */

@media screen and (max-width: 480px) {
    .navm {
        left: -300px;
        width: 50vw;
        transition: 0.5s;
        z-index: 2;
    }

    .ducs {
        text-align: center;
        font-size: 400%;
        margin: 0;
        margin-top: 5vh;
    }

    .h2nav {
        text-align: center;
        font-size: 120%;
        margin: 0;
        margin-top: -15%;
        margin-left: 5%;
    }

    .liennav {
        font-size: 180%;
    }

    ul {
        margin: 0;
        margin-top: 15vh;
        margin-left: -3vw;
        padding: 0;
    }

    .carte {
        margin-top: -30vh;
    }

    .liensoc {
        justify-content: center;
    }

    .liensoc a img {
        min-width: 35px;
    }

    .nav-container .checkbox {
        position: fixed;
        display: block;
        height: 32px;
        width: 32px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .nav-container .hamburger-lines {
        display: block;
        height: 26px;
        width: 32px;
        position: fixed;
        top: 17px;
        left: 20px;
        z-index: 3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .nav-container .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #0e2431;
    }

    .nav-container .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
    }

    .nav-container .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
    }

    .nav-container .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
    }

    .nav-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
        transform: rotate(45deg);
    }

    .nav-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
        transform: scaleY(0);
    }

    .nav-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
        transform: rotate(-45deg);
    }

    .nav-container input[type="checkbox"]:checked~.navm {
        transform: translateX(300px);
        transition: 0.5s;
    }
}

@media screen and (min-width: 481px) {
    #check {
        display: none;
    }
}

/* Fin de Menu de Nav */
