
/* ***************FOOTER***************** */
section#contact .container{
    max-width: 1100px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: grey;
    padding: 30px 10px;
    border-radius: 15px;
    box-sizing: border-box;
    box-shadow: 0px 10px 50px -10px #FFFF;
}
 section#contact .container .title{
 text-align: center;
 color: grey;
 margin-bottom: 50px;
 }
 section#contact .container .title h6{
    font-size: 1em; 
}
section#contat .container .title h3{
    font-size: 2.2em;
}
section#contact .container form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 600px;
}
section#contact .container form input{
    width: 47%;
}
section#appointment .container form .input:hover,
section#appointment .container form .textarea:hover{
    border-bottom: 2px solid rgba(90, 88, 88, 0.664);
}
section#contact .container form input,
section#contact .container form textarea{
    margin: 10px 0;
    padding: 10px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-bottom: 2px solid #FFFF;
    transition: 0.2s;
}
section#contact .container form textarea{
    width: 600px;
    resize: none;
    height: 100px;
    margin-bottom: 30px;
}
section#contact .container form button{
  width: 192px;
  height: 50px;
  border-radius: 8px;
  border: none;
  background-color:grey;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  cursor: pointer;
  margin-top: 30px;
  outline: none;
  margin: 0 auto;

}



 

    
