/* font-family: 'Amiri', serif;
font-family: 'Italianno', cursive;
font-family: 'Maitree', serif; */
body{
    padding-left: 20%;
    background-color: lightgray;
    margin: 0;
    font-family: 'Maitree', serif;
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}
header{
    width: 100%;
}
header img{
    width: 100%;
}
main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 5em;
    width: 80%;
    margin-left: 10%;
    gap: 2em;    
}
main div.article{
    flex: 31%;
    position: relative;
    text-align: center;
}
main div.article img{
    width: 100%;
    height: 100%;
    border-radius: 7px;
}
div.article div.texte{
    position: absolute;
    top: 94%;
    left: 3%;
    color: #303030;
}
div.article div.texte span{
    margin-right: 0.6em;
    background-color: #fff;
    border-radius: 7px;
    padding-left: 2px;
    padding-right: 2px;
    opacity: 0.7;  
}
div.article div.prix{
    position: absolute;
    top: 1%;
    right: 5%;
    color: #ffffff;
    font-family: 'Amiri', serif;
}
footer{
    text-align: center;
    margin-top: 3%;
}